<div class="access-denied-layout">
  <!-- Columna izquierda con imagen -->
  <div class="image-section">
    <img src="../../../assets/demo/images/galleria/FONDO.png" alt="Foto" />
  </div>

  <!-- Columna derecha con contenido -->
  <div class="content-section">
    <div class="blur-box">
      <img src="../../../assets/demo/images/galleria/logo-text2.png" alt="Logo" class="hospital-logo" />

      <h1 class="error-code">403</h1>
      <h2 class="error-message">Acceso Denegado</h2>
      <p class="error-description">
        No tiene permiso para acceder a esta sección del sistema.
      </p>

      <button class="return-btn" (click)="goHome()">
        Volver al inicio
      </button>
    </div>
  </div>
</div>
